@if (auth.isAuthenticated()) {
<div class="container">
  <div class="app-header">
    <h1>Manga Tracker</h1>
    <button class="logout-btn" (click)="logout()">Sign out</button>
  </div>

  <app-manga-search-add
    [(newTitle)]="store.newTitle"
    [isSearching]="store.isSearching()"
    [searchResults]="store.searchResults()"
    [showAddAnyway]="store.showAddAnyway()"
    (search)="store.addManga()"
    (confirmAdd)="store.confirmAdd($event)"
    (addNoSource)="store.addNoSource()"
    (cancel)="store.cancelSearch()" />

  <p class="error" *ngIf="store.errorMessage()">{{ store.errorMessage() }}</p>

  <app-manga-list
    [mangaList]="store.sortedMangaList()"
    [sortBy]="store.sortBy()"
    [checkingId]="store.checkingId()"
    [markingReadId]="store.markingReadId()"
    [checkingAll]="store.checkingAll()"
    [removingAll]="store.removingAll()"
    (sortByChange)="store.sortBy.set($event)"
    (checkAll)="store.checkAll()"
    (removeAll)="store.removeAll()"
    (checkNow)="store.checkNow($event)"
    (markRead)="store.markRead($event)"
    (remove)="store.removeManga($event)" />
</div>
} @else {
  <app-login />
}
